.git
.gitignore
.env.local
.env.*.local
.idea
.vscode

var/cache/*
var/log/*
!var/cache/.gitkeep
!var/log/.gitkeep

vendor

config/jwt/*.pem

public/uploads/*
!public/uploads/.gitkeep

compose.override.yaml
*.md
Makefile
